In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
sns.set()
sns.set_context("notebook", font_scale=1.5, rc={"lines.linewidth": 2.5})
pd.set_option('display.max_rows', 120)

## Reading / Displaying the Data

In [2]:
df_sales = pd.read_csv('../data/desafio.csv')

In [3]:
df_sales.head()

,order_id,code,quantity,price,pis_cofins,icms,tax_substitution,category,liquid_cost,order_status,capture_date,process_date,process_status,source_channel
0,bcb59c839e78b2601374cbad9239ca7b,e6762ba2ffbca07ab6cee7551caeaad5,1,978.90,90.5483,0.0000,191.8416,4ece547755cba9e7fc14125bc895f31b,542.7065,entrega total,2016-06-11,2016-06-11,processado,b76eb9b8fc0f17098812da9117d3e500
1,4e91ee6b95895771dc9ee524e910a902,e6762ba2ffbca07ab6cee7551caeaad5,1,1036.29,95.8568,176.1693,0.0000,4ece547755cba9e7fc14125bc895f31b,542.7065,em rota de entrega,2016-06-11,2016-06-11,processado,b76eb9b8fc0f17098812da9117d3e500
2,88eb0ac86af1a521c0831298d22dea8b,e6762ba2ffbca07ab6cee7551caeaad5,1,978.90,90.5483,0.0000,191.8416,4ece547755cba9e7fc14125bc895f31b,542.7065,entrega total,2016-06-12,2016-06-12,processado,b76eb9b8fc0f17098812da9117d3e500
3,dee418152a36314b4aee6ce9cf94fcbf,e6762ba2ffbca07ab6cee7551caeaad5,1,978.90,90.5483,176.2020,0.0000,4ece547755cba9e7fc14125bc895f31b,542.7065,cancelado,2016-06-13,0000-00-00,captado,b76eb9b8fc0f17098812da9117d3e500
4,1c175bc61b9b659bbf011b2e5e3dcec6,e6762ba2ffbca07ab6cee7551caeaad5,1,976.05,90.2846,0.0000,192.3325,4ece547755cba9e7fc14125bc895f31b,542.7065,entrega total,2016-06-13,2016-06-13,processado,b76eb9b8fc0f17098812da9117d3e500

In [4]:
df_sales.describe(percentiles=[.0001,.25, .50, .75, .90, .99, .9999])

,quantity,price,pis_cofins,icms,tax_substitution,liquid_cost
count,179149.000000,179149.000000,179149.000000,179149.000000,179149.000000,179149.000000
mean,1.055278,234.638585,19.525329,25.095547,17.872443,136.034906
std,0.597942,186.638919,17.402820,32.333226,28.125661,83.603243
min,1.000000,1.030000,0.000000,0.000000,0.000000,4.114100
0.01%,1.000000,6.910000,0.000000,0.000000,0.000000,4.114100
25%,1.000000,149.910000,10.640300,0.000000,0.000000,78.862100
50%,1.000000,194.400000,17.519500,21.492000,0.000000,117.082000
75%,1.000000,309.360000,28.157000,38.880000,30.403000,205.899700
90%,1.000000,359.948000,33.244500,61.092000,68.868820,213.438200
99%,2.000000,849.182000,72.015900,136.783800,110.798852,496.929700
99.99%,20.000000,5024.962012,445.455148,572.301644,280.453200,896.681400
max,100.000000,19993.000000,1849.352500,3598.740000,280.834200,896.681400

* The majority of the orders have 1 unity of product 
* An order with 100 itens seems to be a huge outlier since it is too farway from the 99.99% percentile. 
* The tax_substituion == 0 indicates sales within the same icms range (state maybe), need checks
* I'm missing some geolocation indicators
* Pis/Cofins == 0 for basic meal itens; soaps; bucal higiene; toilet paper; some books (digital books?); etc.

## Verify the distributions

In [5]:
df_sales[['category', 'code']].nunique()

category     11
code        131
dtype: int64

In [6]:
def summary_dist(target_col, base_col='order_id'):
    df_summary = df_sales[[target_col,base_col]].groupby(target_col).agg({base_col:pd.Series.nunique}).reset_index()
    df_summary[base_col] = df_summary[base_col] / df_summary[base_col].sum()  * 100
    return df_summary.sort_values(base_col)

In [7]:
summary_dist('order_status')

                   order_status   order_id
4        cancelado não aprovado   0.001139
11       pendente processamento   0.002848
6          em rota de devolução   0.014239
16            suspenso barragem   0.017656
15           suspeita de fraude   0.017656
3   cancelado fraude confirmada   0.039869
10            fraude confirmada   0.091129
5     disponível para retirada.   0.120177
2   cancelado dados divergentes   0.376477
12                   processado   0.494945
13  solicitação de cancelamento   0.572405
8               entrega parcial   1.290047
14         solicitação de troca   1.300299
7            em rota de entrega   1.473444
0                     cancelado   2.929233
1     cancelado boleto não pago  10.335184
9                 entrega total  80.923252

It is cool to perceive that 13% of the sales are cancelled

In [8]:
summary_dist('process_status')

  process_status   order_id
0        captado  13.825431
1     processado  86.174569

Maybe we should have to work with only the processed orders

In [9]:
df_orders_category = summary_dist('category')
df_orders_category

                            category   order_id
7   9cfa7aefcc61936b70aaec6729329eda   0.033008
1   4ece547755cba9e7fc14125bc895f31b   0.036422
2   568696c0b6828f77884ea8628fcc6200   0.040406
10  f79dccaf0b890eced0724d8563948c4f   0.041544
8   d7ecf0071e88c21e993da125d2229a51   0.079674
3   61ad270def6d4b2403f4536f39cff29a   0.113819
5   98f679396a60f117b171ddedfcc3e5ed   0.187802
9   dda10a917a9ea3120e5d299af5105290   0.599259
4   90cc5bdd050bcd7cf0d50d079d0fda66   2.962718
6   9a97178a18aa6333aabdfb21de182b99  10.247728
0   388128822cef4b4f102ae881e040a64b  85.657620

* It is interesting to see that 85% of the orders are from 1 category

In [10]:
df_products_category = summary_dist('category', base_col='code')
df_products_category

                            category       code
3   61ad270def6d4b2403f4536f39cff29a   0.763359
7   9cfa7aefcc61936b70aaec6729329eda   0.763359
8   d7ecf0071e88c21e993da125d2229a51   0.763359
1   4ece547755cba9e7fc14125bc895f31b   1.526718
2   568696c0b6828f77884ea8628fcc6200   1.526718
6   9a97178a18aa6333aabdfb21de182b99   1.526718
9   dda10a917a9ea3120e5d299af5105290   1.526718
5   98f679396a60f117b171ddedfcc3e5ed   2.290076
10  f79dccaf0b890eced0724d8563948c4f   2.290076
4   90cc5bdd050bcd7cf0d50d079d0fda66   6.106870
0   388128822cef4b4f102ae881e040a64b  80.916031

* It is interesting to see that 80% of the products are from 1 category, the same wich holds 85% of the sales
* The category with 1.52% of the products corresponds to 10% of the sales.
* I'm missing a category description

## Deep dive on the categories

In [11]:
top_3_cats_orders = df_orders_category.tail(3).category.values
top_3_cats_product = df_products_category.tail(3).category.values

selected_cats = list(set(list(top_3_cats_orders)+ list(top_3_cats_product)))
selected_cats

['388128822cef4b4f102ae881e040a64b',
 'f79dccaf0b890eced0724d8563948c4f',
 '90cc5bdd050bcd7cf0d50d079d0fda66',
 '9a97178a18aa6333aabdfb21de182b99']

In [12]:
df_filtered_sales = df_sales[df_sales.category.isin(selected_cats)]
df_filtered_sales.groupby('category').describe(percentiles=[.0001,.25, .50, .75, .90, .99, .9999]).T

category                 388128822cef4b4f102ae881e040a64b  \
quantity         count                      153943.000000
                 mean                            1.046758
                 std                             0.519535
                 min                             1.000000
                 0.01%                           1.000000
                 25%                             1.000000
                 50%                             1.000000
                 75%                             1.000000
                 90%                             1.000000
                 99%                             2.000000
                 99.99%                         20.000000
                 max                            70.000000
price            count                      153943.000000
                 mean                          224.275396
                 std                           156.882282
                 min                            34.840000
                 0.01%                          36.723942
                 25%                           139.900000
                 50%                           199.020000
                 75%                           309.400000
                 90%                           359.400000
                 99%                           542.690000
                 99.99%                       3570.444460
                 max                         19993.000000
pis_cofins       count                      153943.000000
                 mean                           20.690113
                 std                            14.508692
                 min                             0.000000
                 0.01%                           0.000000
                 25%                            12.932400
                 50%                            18.407500
                 75%                            28.619500
                 90%                            33.244500
                 99%                            49.939800
                 99.99%                        330.266143
                 max                          1849.352500
icms             count                      153943.000000
                 mean                           23.597581
                 std                            28.686187
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                            17.998000
                 75%                            40.334400
                 90%                            60.960000
                 99%                            87.264000
                 99.99%                        489.904391
                 max                          3598.740000
tax_substitution count                      153943.000000
                 mean                           17.201033
                 std                            25.020906
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                             0.000000
                 75%                            30.057900
                 90%                            68.967600
                 99%                            75.917314
                 99.99%                        157.985200
                 max                           158.612400
liquid_cost      count                      153943.000000
                 mean                          129.691262
                 std                            66.792134
                 min                            27.284700
                 0.01%                          27.284700
                 25%                            75.957600
                 50%                           116.627300
                 75%                           205.899700
                 90%                           213.438200
                 99%                           241.671500
                 99.99%                        289.356300
                 max                           289.356300

category                 90cc5bdd050bcd7cf0d50d079d0fda66  \
quantity         count                        5208.000000
                 mean                            1.111943
                 std                             0.897229
                 min                             1.000000
                 0.01%                           1.000000
                 25%                             1.000000
                 50%                             1.000000
                 75%                             1.000000
                 90%                             1.000000
                 99%                             4.000000
                 99.99%                         31.917200
                 max                            34.000000
price            count                        5208.000000
                 mean                          553.181551
                 std                           424.411549
                 min                           134.920000
                 0.01%                         139.179326
                 25%                           209.000000
                 50%                           564.300000
                 75%                           764.100000
                 90%                           869.000000
                 99%                          1701.090000
                 99.99%                      11420.960000
                 max                         11420.960000
pis_cofins       count                        5208.000000
                 mean                           51.016928
                 std                            39.146350
                 min                             0.000000
                 0.01%                           0.000000
                 25%                            19.332500
                 50%                            51.673300
                 75%                            70.678550
                 90%                            80.376060
                 99%                           156.217415
                 99.99%                       1056.438800
                 max                          1056.438800
icms             count                        5208.000000
                 mean                           55.087135
                 std                            77.323465
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                            34.002900
                 75%                           113.238000
                 90%                           146.720000
                 99%                           239.426640
                 99.99%                       2055.772800
                 max                          2055.772800
tax_substitution count                        5208.000000
                 mean                           44.365912
                 std                            61.751316
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                             0.000000
                 75%                           110.928500
                 90%                           135.292250
                 99%                           176.320894
                 99.99%                        280.834200
                 max                           280.834200
liquid_cost      count                        5208.000000
                 mean                          328.901040
                 std                           188.926514
                 min                           106.115700
                 0.01%                         106.115700
                 25%                           117.074200
                 50%                           387.115400
                 75%                           496.929700
                 90%                           550.952000
                 99%                           896.681400
                 99.99%                        896.681400
                 max                           896.681400

category                 9a97178a18aa6333aabdfb21de182b99  \
quantity         count                       18009.000000
                 mean                            1.093065
                 std                             0.947067
                 min                             1.000000
                 0.01%                           1.000000
                 25%                             1.000000
                 50%                             1.000000
                 75%                             1.000000
                 90%                             1.000000
                 99%                             4.000000
                 99.99%                         19.980000
                 max                           100.000000
price            count                       18009.000000
                 mean                          228.688705
                 std                           208.223182
                 min                             1.030000
                 0.01%                         121.767176
                 25%                           169.900000
                 50%                           180.410000
                 75%                           194.400000
                 90%                           229.710000
                 99%                           903.900000
                 99.99%                       3629.436000
                 max                         16140.000000
pis_cofins       count                       18009.000000
                 mean                            0.000000
                 std                             0.000000
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                             0.000000
                 75%                             0.000000
                 90%                             0.000000
                 99%                             0.000000
                 99.99%                          0.000000
                 max                             0.000000
icms             count                       18009.000000
                 mean                           27.748286
                 std                            31.868155
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                            30.583000
                 75%                            34.080000
                 90%                            38.414160
                 99%                           161.452000
                 99.99%                        439.810746
                 max                          1053.320000
tax_substitution count                       18009.000000
                 mean                           17.543951
                 std                            33.629816
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                             0.000000
                 75%                            47.435000
                 90%                            47.435000
                 99%                           222.020700
                 99.99%                        244.829100
                 max                           244.951000
liquid_cost      count                       18009.000000
                 mean                          138.882889
                 std                            90.825224
                 min                           119.506500
                 0.01%                         119.506500
                 25%                           119.506500
                 50%                           119.506500
                 75%                           119.506500
                 90%                           119.506500
                 99%                           564.595000
                 99.99%                        564.595000
                 max                           564.595000

category                 f79dccaf0b890eced0724d8563948c4f
quantity         count                          73.000000
                 mean                            1.027397
                 std                             0.164368
                 min                             1.000000
                 0.01%                           1.000000
                 25%                             1.000000
                 50%                             1.000000
                 75%                             1.000000
                 90%                             1.000000
                 99%                             2.000000
                 99.99%                          2.000000
                 max                             2.000000
price            count                          73.000000
                 mean                           40.922603
                 std                            11.932686
                 min                            24.240000
                 0.01%                          24.244752
                 25%                            35.000000
                 50%                            37.100000
                 75%                            44.170000
                 90%                            59.450000
                 99%                            79.682400
                 99.99%                         88.471224
                 max                            88.560000
pis_cofins       count                          73.000000
                 mean                            3.769941
                 std                             1.175911
                 min                             0.000000
                 0.01%                           0.016584
                 25%                             3.237500
                 50%                             3.479900
                 75%                             4.085700
                 90%                             5.499120
                 99%                             7.370640
                 99.99%                          8.183588
                 max                             8.191800
icms             count                          73.000000
                 mean                            5.497315
                 std                             4.055949
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                             6.381000
                 75%                             7.950600
                 90%                            10.302340
                 99%                            14.342832
                 99.99%                         15.924820
                 max                            15.940800
tax_substitution count                          73.000000
                 mean                            1.986082
                 std                             3.265497
                 min                             0.000000
                 0.01%                           0.000000
                 25%                             0.000000
                 50%                             0.000000
                 75%                             6.938800
                 90%                             7.334600
                 99%                             7.853776
                 99.99%                          9.175450
                 max                             9.188800
liquid_cost      count                          73.000000
                 mean                           15.747244
                 std                             2.335414
                 min                            10.270500
                 0.01%                          10.270500
                 25%                            16.660100
                 50%                            16.660100
                 75%                            16.660100
                 90%                            16.660100
                 99%                            17.875800
                 99.99%                         17.875800
                 max                            17.875800

Those 4 categories respond for almost all sales in the dataset, the distributions are very similar to the whole dataset itself.
* The category 9a97178a18aa6333aabdfb21de182b99 doens't have to pay pis/cofins
* the Category f79dccaf0b890eced0724d8563948c4f doens't have much orders 73 and have the lower prices on of the 4 including its costs with a low STD.
* For the category 388128822cef4b4f102ae881e040a64b the price and cost deviation appear more Stable given the distribution percentiles, max, mean and deviations. Is that a price sentive one?

In [13]:
df_filtered_sales[df_filtered_sales.category != 'f79dccaf0b890eced0724d8563948c4f']

,order_id,code,quantity,price,pis_cofins,icms,tax_substitution,category,liquid_cost,order_status,capture_date,process_date,process_status,source_channel
356,2b382c9769a8f6a564089928642c12c6,723f73c85e91fc31d147dfade389d4f9,1,404.91,37.4542,35.6329,0.0,388128822cef4b4f102ae881e040a64b,289.3563,em rota de entrega,2016-06-08,2016-06-09,processado,b76eb9b8fc0f17098812da9117d3e500
357,82134261102be216e336e8e36ea46cdb,723f73c85e91fc31d147dfade389d4f9,1,464.40,42.9570,54.4881,0.0,388128822cef4b4f102ae881e040a64b,289.3563,entrega total,2016-06-08,2016-06-08,processado,b76eb9b8fc0f17098812da9117d3e500
358,5a5b7a1c31f1fd87e8b74656f2822542,723f73c85e91fc31d147dfade389d4f9,1,404.91,37.4542,35.6329,0.0,388128822cef4b4f102ae881e040a64b,289.3563,em rota de entrega,2016-06-08,2016-06-10,processado,b76eb9b8fc0f17098812da9117d3e500
359,02f1253d9a6bd3792e7ac5ff187ff2ef,723f73c85e91fc31d147dfade389d4f9,1,449.90,41.6158,52.7868,0.0,388128822cef4b4f102ae881e040a64b,289.3563,entrega total,2016-06-08,2016-06-08,processado,98defd6ee70dfb1dea416cecdf391f58
360,ca7ae41d48db38b1b2c57f8567bfdfc1,723f73c85e91fc31d147dfade389d4f9,1,449.88,41.6139,0.0000,0.0,388128822cef4b4f102ae881e040a64b,289.3563,entrega total,2016-06-08,2016-06-08,processado,7261d300057219056592010c7bdaf5ee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179144,3865248aaa3ddf5dca346f14caf8dcef,1c234775cae774823f38abe6721e61a4,2,891.21,82.4369,151.5057,0.0,388128822cef4b4f102ae881e040a64b,219.1066,entrega total,2017-05-30,2017-05-30,processado,fc7020775a7cdf161ab5267985c54601
179145,519c339baad17b8692a0c8bb86a45586,1c234775cae774823f38abe6721e61a4,1,449.40,41.5695,80.8920,0.0,388128822cef4b4f102ae881e040a64b,219.1066,entrega total,2017-05-31,2017-05-31,processado,b76eb9b8fc0f17098812da9117d3e500
179146,0f4d6b4a1750214b3fc782e3a6029939,1c234775cae774823f38abe6721e61a4,1,507.28,46.9234,91.3104,0.0,388128822cef4b4f102ae881e040a64b,219.1066,entrega total,2017-05-31,2017-05-31,processado,fc7020775a7cdf161ab5267985c54601
179147,1ace6be0122c83e55dcfa05e3484f0b2,1c234775cae774823f38abe6721e61a4,1,446.90,41.3383,75.9730,0.0,388128822cef4b4f102ae881e040a64b,219.1066,entrega total,2017-06-01,2017-06-01,processado,b76eb9b8fc0f17098812da9117d3e500
179148,3d47c183dd47f21879031cc2814206b0,1c234775cae774823f38abe6721e61a4,1,507.28,46.9234,91.3104,0.0,388128822cef4b4f102ae881e040a64b,219.1066,entrega total,2017-06-01,2017-06-01,processado,fc7020775a7cdf161ab5267985c54601

In [14]:
df_product_cat_orders = pd.crosstab(
    df_filtered_sales.code, df_filtered_sales.category, margins=True, 
    values=df_filtered_sales.order_id, aggfunc=pd.Series.nunique
).reset_index().sort_values('All')
df_product_cat_orders

category,code,388128822cef4b4f102ae881e040a64b,90cc5bdd050bcd7cf0d50d079d0fda66,9a97178a18aa6333aabdfb21de182b99,f79dccaf0b890eced0724d8563948c4f,All
21,2bc9e1d807d8f9187b8650acd35a14e5,NaN,NaN,NaN,3.0,3
33,3b4407288e2983a514a241c9b84b7094,NaN,NaN,NaN,11.0,11
96,c27a276b623c751a6b0a8ad6243d681d,51.0,NaN,NaN,NaN,51
41,41e2bee39c1d3ef52fcedd69d0ab8c8c,NaN,NaN,NaN,59.0,59
79,8e5d2c3f2476cb5c507dd0f00f6eabda,NaN,75.0,NaN,NaN,75
60,5bcebbc4f704cffaf2e6ccaf1d1fb5c7,81.0,NaN,NaN,NaN,81
40,411e1404e183718207628232e91ce5a9,NaN,82.0,NaN,NaN,82
84,a36f5dfa4f08cdfe64594061ba76f30e,91.0,NaN,NaN,NaN,91
103,ce4baabfbcb1d43e22f7ba44b49f2714,108.0,NaN,NaN,NaN,108
86,a7772a34be22f0fd09f0ef36b6eb337f,134.0,NaN,NaN,NaN,134
108,d709ff164dc53eb7b8470e84c2b60974,144.0,NaN,NaN,NaN,144
94,bc97d7cb7c13c2a7ff4558bb12a3f047,154.0,NaN,NaN,NaN,154
112,e6017ce062eb324ab446e9983afba369,156.0,NaN,NaN,NaN,156
18,24549e47832f72f647d40a86b43b6925,164.0,NaN,NaN,NaN,164
16,213005fe5d815c539812614f1f6a7768,168.0,NaN,NaN,NaN,168
99,c443d252c048280160fc427766d9f1f4,168.0,NaN,NaN,NaN,168
31,390943ce05959ac98c702d250c2ebb54,178.0,NaN,NaN,NaN,178
36,3d3d13446c52ecaaed5d0bf55a933d4d,179.0,NaN,NaN,NaN,179
26,3657af9de7395eaba0dbcbcaa6fd90be,182.0,NaN,NaN,NaN,182
66,60424117a2618c7184687046fa5693c4,183.0,NaN,NaN,NaN,183
77,8bdd60f700ed8368e66080eb6bb6d313,193.0,NaN,NaN,NaN,193
67,618ea23457368cf423b03d6b8fede992,196.0,NaN,NaN,NaN,196
15,1f12f1e1b9e7a20d4ad9dd549ec072c0,205.0,NaN,NaN,NaN,205
13,1c619f92929dbaa41df54608dc70a7ce,217.0,NaN,NaN,NaN,217
29,37a62c0ad48679cee5554655de294721,228.0,NaN,NaN,NaN,228
27,373cc1cfc10a45488be6b97bd5e94c44,254.0,NaN,NaN,NaN,254
50,4ef261b089aa567ef24778fae254bfe2,273.0,NaN,NaN,NaN,273
51,51016cd454b391dd0b0e23b2b16b6fc3,326.0,NaN,NaN,NaN,326
3,0bbe09e34a11e8e31cf49d6f8df2992d,341.0,NaN,NaN,NaN,341
64,5ff2d52d31bf9ad42924a35c4729ffdb,346.0,NaN,NaN,NaN,346
32,3a36dc63a58442085d0ccd98c4f9c64a,349.0,NaN,NaN,NaN,349
10,1a225367d52023424b6f4b2aa8632615,352.0,NaN,NaN,NaN,352
53,54209126056016c7c391c0c8fd8e6eff,352.0,NaN,NaN,NaN,352
68,6411de56554a998e78ae1317fc956e19,357.0,NaN,NaN,NaN,357
69,6ace63708a91744bea8a68311bb3506c,361.0,NaN,NaN,NaN,361
55,5490e2abafb28c022e53b55ba6641122,362.0,NaN,NaN,NaN,362
39,40d98a2375332cb635d4cb28ab68e087,397.0,NaN,NaN,NaN,397
28,374e1947dcb8f4848f4ada6f04921edd,399.0,NaN,NaN,NaN,399
114,f08984b2adcbf33ba61fe13fcfa5b957,424.0,NaN,NaN,NaN,424
81,9e5dd3c1d252136c4351b84589dae2b5,NaN,425.0,NaN,NaN,425
113,ee2b4e97025f5ca840570265c4288c99,438.0,NaN,NaN,NaN,438
98,c348d9bc6a152d8d34489a79ab9452a7,446.0,NaN,NaN,NaN,446
20,2ab0e87dbce6ac45502aa1d2a8265933,446.0,NaN,NaN,NaN,446
47,49d1447a5d1a218169eef2ea58cdc149,450.0,NaN,NaN,NaN,450
14,1dbe25b2fd344aed0c444fd6b715525b,450.0,NaN,NaN,NaN,450
71,6e6ae6bc648c6a00b4a4b7a8e976a41a,451.0,NaN,NaN,NaN,451
78,8ca06ab9bced028b2f180d4fa0527588,454.0,NaN,NaN,NaN,454
34,3bc993e0f0c636e9aaaefa0356bdecc0,458.0,NaN,NaN,NaN,458
93,bc4d7296a37f5dfa0944b3274229b0a0,462.0,NaN,NaN,NaN,462
110,e0b4fdba39475c05a3ac9e769cce9bfa,463.0,NaN,NaN,NaN,463
6,118484c270085e811fbbc81978a269b2,469.0,NaN,NaN,NaN,469
37,3da22f1b88a20ea8efc3d83fcb872e21,NaN,469.0,NaN,NaN,469
115,f5f92c2a12f182115c45288a6ef28e94,485.0,NaN,NaN,NaN,485
2,0ad316f6b5cb5e81ebff73ae2490ccfe,489.0,NaN,NaN,NaN,489
102,cbeb3a98c1c9b01522db6ee2128ed805,499.0,NaN,NaN,NaN,499
65,600c486af5e3f2d1624d2fc872e20e16,537.0,NaN,NaN,NaN,537
92,b9d929195dcd4e6a36e5e65891746b5e,562.0,NaN,NaN,NaN,562
7,13b69fd4bf80b95756e3b138c9169a7f,580.0,NaN,NaN,NaN,580
58,585eead66aaf3b2e140d480979184ae6,582.0,NaN,NaN,NaN,582
42,42920a6f15855662ee9a272fbe44cbd1,592.0,NaN,NaN,NaN,592
8,174ef25d9556d516a813e2972f3b8351,603.0,NaN,NaN,NaN,603
72,723f73c85e91fc31d147dfade389d4f9,657.0,NaN,NaN,NaN,657
74,75caad099f6f8c205e22e93826732c22,666.0,NaN,NaN,NaN,666
11,1b3980ee40dc5d60ecae3b19cd41f49a,667.0,NaN,NaN,NaN,667
49,4ceedf57303e127d31a164c7ae5791d8,685.0,NaN,NaN,NaN,685
90,b367e71967b4701550ffce69e729ee6f,688.0,NaN,NaN,NaN,688
116,f9a023f31c8087fd0c169b3bedd351d1,691.0,NaN,NaN,NaN,691
63,5fb59bee157577ee04a269e52af88598,704.0,NaN,NaN,NaN,704
57,5837d4e32e5382af65d33b4dfbd9f561,710.0,NaN,NaN,NaN,710
52,525848b647262de5fd7be193b17cdaac,769.0,NaN,NaN,NaN,769
101,c85f192a81fa83780e5c012175749eee,774.0,NaN,NaN,NaN,774
87,abf2d3cb446492ee7897087db9a0b2a0,NaN,NaN,784.0,NaN,784
88,ae5a740ca930b9149f590179b0dde3f3,830.0,NaN,NaN,NaN,830
44,453d427550d3816e446d4882bf67a75f,850.0,NaN,NaN,NaN,850
97,c32ada18ec4f2992e8c003ffeb73b97b,864.0,NaN,NaN,NaN,864
109,dd1935ffd0ee2b6ec159ba7867d11e57,NaN,881.0,NaN,NaN,881
54,547bbdaa191bdb83d5b5b376bf2402fb,NaN,906.0,NaN,NaN,906
4,0dca7ec6ba9b6e8f17f04f713a6be727,932.0,NaN,NaN,NaN,932
48,4b58730cdc153f4eeda0d1321e630ba4,963.0,NaN,NaN,NaN,963
100,c80a47e4c53432d9ee8cd98c9ce13769,967.0,NaN,NaN,NaN,967
1,09f544ec2a74c89abeec7b0590fc2d11,978.0,NaN,NaN,NaN,978
91,b763aecfcfc8cbac2c3a51488d33480a,1005.0,NaN,NaN,NaN,1005
30,37e2a39e829495d13b6cbb5320413e48,1024.0,NaN,NaN,NaN,1024
105,d4592ab52cb9cd5af0510943a4c8e28c,1067.0,NaN,NaN,NaN,1067
85,a586c072b4a3958ac72a6fff71730cb3,NaN,1100.0,NaN,NaN,1100
118,ffdad3ddbaf6c76c9bba1b48c51e03c6,1113.0,NaN,NaN,NaN,1113
19,29f175b6bccc264e8141481dcda8102d,1115.0,NaN,NaN,NaN,1115
12,1c234775cae774823f38abe6721e61a4,1167.0,NaN,NaN,NaN,1167
80,9cdf9e07e226869d8da4a3e10ac65c62,1197.0,NaN,NaN,NaN,1197
46,498556cd1dade09f21fea97d3c916875,1214.0,NaN,NaN,NaN,1214
104,d32bc6c4069b86ba9e9d7d651dbf1a1e,1220.0,NaN,NaN,NaN,1220
62,5e4c14883e5a606fac56b2630da5dca7,1267.0,NaN,NaN,NaN,1267
56,55447a73ff140176f4210347854c71f1,NaN,1270.0,NaN,NaN,1270
23,30b6a9b1621f558d788ffb3d07a19281,1294.0,NaN,NaN,NaN,1294
35,3d21b63892749e921e3ff5818753bd67,1316.0,NaN,NaN,NaN,1316
83,a2018dae10d736a66eea5a0a349ef9ee,1421.0,NaN,NaN,NaN,1421
70,6c82ad0e791258434fd42c51409b0239,1427.0,NaN,NaN,NaN,1427
95,c254dc11afbcc091678f0ab49a02e7ad,1469.0,NaN,NaN,NaN,1469
45,4557c7e5af70efd2e3ca2befd59ccdc3,1486.0,NaN,NaN,NaN,1486
38,40bddb00475d65eddb68e9aeb6fab0de,1731.0,NaN,NaN,NaN,1731
111,e13f7f001fe2b1af072a3d50d3058284,1883.0,NaN,NaN,NaN,1883
76,7da116bd1d42f3475803402e710253cf,2094.0,NaN,NaN,NaN,2094
5,0f38be2df6854b4374f06cae1bc38482,2110.0,NaN,NaN,NaN,2110
61,5e39201e582b1bb89cae7f650e4330c8,2224.0,NaN,NaN,NaN,2224
117,fd84644da59504bd9e9dcb4b6db63bea,2917.0,NaN,NaN,NaN,2917
9,193628b6634713730d3c506f2da0ff58,3597.0,NaN,NaN,NaN,3597
73,727673fa3e457bc596532b3eb26b23a0,3737.0,NaN,NaN,NaN,3737
82,a0c96bb1b4117eeeae27b77a1381f55f,3977.0,NaN,NaN,NaN,3977
107,d5bc9e14d090330cd07e6ccbcb3c3e4e,4017.0,NaN,NaN,NaN,4017
89,b08b7321c4db8f45a1a97a79d1e44dd8,4487.0,NaN,NaN,NaN,4487
75,760693745e10b0c5e68c42214c729b0d,4865.0,NaN,NaN,NaN,4865
106,d57911cca4b08f7b46417d952c0ca1dc,5809.0,NaN,NaN,NaN,5809
17,23056d85a1c9115cd021a6ad35c84aff,5973.0,NaN,NaN,NaN,5973
59,5b7a30a9e6a43b170ad4d9e00d8d9359,6333.0,NaN,NaN,NaN,6333
0,0671c2b9132a3f5215a4212ce0691694,6496.0,NaN,NaN,NaN,6496
24,32ceebf3efea1d04ace4183d20d4da5b,8889.0,NaN,NaN,NaN,8889
25,3454ea52396a4cfd3fc37414d30c7b9c,10674.0,NaN,NaN,NaN,10674
43,4534ea61b50410b3b6243e02b40c8cd1,NaN,NaN,17225.0,NaN,17225
22,2e35421c34fb588ba40a0c57b3971d24,20944.0,NaN,NaN,NaN,20944
119,All,150515.0,5206.0,18007.0,73.0,173678

In [15]:
df_product_cat_orders.notna().sum(axis = 0)

category
code                                120
388128822cef4b4f102ae881e040a64b    107
90cc5bdd050bcd7cf0d50d079d0fda66      9
9a97178a18aa6333aabdfb21de182b99      3
f79dccaf0b890eced0724d8563948c4f      4
All                                 120
dtype: int64

 The category 388, not only is the highest in sales by fart but contains much of the variety of products. 
 Although the category 9a9 has the sconde most sold product.